// Base styling for the navbar
#mainNav {
    box-shadow: $box-shadow;
    background-color: $white;
    transition: background-color 0.2s ease;
    .navbar-brand {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-bold;
        font-size: 1.6rem;
        color: $biscuit;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $biscuit;
                font-family: $font-family-sans-serif;
                font-weight: $font-weight-bold;
                font-size: 1.1rem;
                padding: 0.75rem 0;
                &:hover,
                &:active {
                    color: $primary;
                }
                &.active {
                    color: $primary !important;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        // Base styling for the navbar - screen sizes greater than the large breakpoint
        box-shadow: none;
        background-color: transparent;
        .navbar-brand {
            color: fade-out($biscuit, 0.3);
            &:hover {
                color: $white;
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: fade-out($biscuit, 0.3);
                    padding: 0 1rem;
                    &:hover {
                        color: $white;
                    }
                }
                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }
        // Navbar styling applied when the page is scrolled
        &.navbar-scrolled {
            box-shadow: $box-shadow;
            background-color: $white;
            .navbar-brand {
                color: $biscuit;
                &:hover {
                    color: $primary;
                }
            }
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $biscuit;
                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

.purbeurre-logo{
    width: 60px;
    height: 60px;
    margin-right: 1.2rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.form-div{
    display:-webkit-flex;
    justify-content: flex-end;
}

.search{
    border-color: transparent;
    opacity: 0.6;
}

.connect-options{
    display: flex;
    justify-content: center;
}

.user-name{
    margin: auto 1.2rem;
    color: fade-out($biscuit, 0.3);
    font-size: 1.2rem;
}