
{% load static %}

{% block content %}
    {% block search %}
        <div class="col-8">
            <div class="search-div">
                <form action="{% url 'products:search' %}" method="get">
                    <div class="input-group input-group-lg mb-3">
                        <input class="search-input form-control secondary-search" type="text" placeholder="Produit" aria-label="Search" name="product_search">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-xl js-scroll-trigger search-btn" type="submit">Chercher</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    {% endblock search %}
{% endblock content %}