// Variables

//- Override and add to color system

$orange: #f4623a;
$rooibos: #C45525;
$biscuit: #E8A75D;
$caramel:#DE9440;
$rigolo: #86ebe6;
$oister-blue: #345A61;
$brown: #5c4d42;

//- Override primary color
$primary: $caramel;
$secondary: $biscuit;

//- Override font system
//$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
//    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
//    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Open Sans", sans-serif;
$font-family-base: "Scope One", sans-serif;
$headings-font-family: $font-family-serif;

//- Add custom variables
$navbar-height: 4.5rem;
